@tailwind base;
@tailwind components;
@tailwind utilities;

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: #292929;
  stroke: none;
}

.linkActive{
  position: relative;
}

.linkActive::before{
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%);
  left: 0;
}
