@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-black: #232426;
  --grey: #ccc;
  --white-smoke: #e1e1e1;
  --alternate-color: #6b6e6f;
}

@font-face {
  font-family: geist;
  src: url('../../public/fonts/Geist/variable-ttf/GeistVF.ttf');
}

@font-face {
  font-family: humane;
  src: url('../../public/fonts/HUMANE/Humane-VF.ttf');
}

html,
body{
  background-color: var(--bg-black);
  font-family: geist, sans-serif;
  color: var(--grey);
}

.linkActive {
  position: relative;
}

.linkActive::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.locomotive {
  position: relative;
  font-size: calc(20vw + 8rem);
  user-select: none;
  font-family: humane, sans-serif;
}

.locomotive:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}
